<ion-header>
  <ion-toolbar>
      <ion-row>
          <ion-title class="ion-float-left">Leaderboard</ion-title>
          <ion-img id="refresh-icon" src="../assets/icon/refresh.png" class="ion-float-right" (click)="refresh()"></ion-img>
      </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding onload='leaderboard()'>
  <ion-img id="trophy" src="../assets/icon/trophy.png"></ion-img>
  <ion-row>
    <ion-col><b>Username</b></ion-col>
    <ion-col><b>Points</b></ion-col>
  </ion-row>
  <ion-grid id="grid">
  </ion-grid>
  

  <!-- debugger -->
  <p [hidden]="debugging">Points: {{ points }}</p>
  <ion-button [hidden]="debugging" fill="solid" expand="block" (click)="addPoints()">Add Points</ion-button>
  <ion-button [hidden]="debugging" fill="solid" expand="block" (click)="deductPoints()">Deduct Points</ion-button>
</ion-content>
