ion-content{
  top: 5%;
}

h3{
  font-family: 'Eczar', serif;
  font-size: 15px;
  text-align: center;
}

ionic4-star-rating{
  display: flex;
  justify-content: center;
}

.btn{
  text-align: center;
}

ion-button{
  font-family: 'Eczar', serif;
  font-size: 15px;
}
