<ion-header>
  <ion-toolbar>
    <ion-title>
      Feedback
    </ion-title>
  </ion-toolbar>
  <style>@import url('https://fonts.googleapis.com/css?family=Eczar&display=swap');</style>
</ion-header>

<ion-content>
  <form [formGroup]="customForm">
    <br>
    <h4>Safety</h4>
    <ionic4-star-rating #rating
      activeIcon = "ios-star"
      defaultIcon = "ios-star-outline"
      activeColor = "#E7F14D"
      defaultColor = "#aaaaaa"
      readonly = "false"
      rating = "1"
      fontSize = "32px"
      (ratingChanged)="logRatingChange($event)">
  </ionic4-star-rating>
  <br>

  <h4>Speed</h4>
  <ionic4-star-rating #rating2
      activeIcon = "ios-star"
      defaultIcon = "ios-star-outline"
      activeColor = "#E7F14D"
      defaultColor = "#aaaaaa"
      readonly = "false"
      rating = "1"
      fontSize = "32px"
      (ratingChanged)="logRatingChange2($event)">
  </ionic4-star-rating>
  <br>

  <h4>Enjoyment</h4>
  <ionic4-star-rating #rating2
      activeIcon = "ios-star"
      defaultIcon = "ios-star-outline"
      activeColor = "#E7F14D"
      defaultColor = "#aaaaaa"
      readonly = "false"
      rating = "1"
      fontSize = "32px"
      (ratingChanged)="logRatingChange2($event)">
  </ionic4-star-rating>
  <br>
  <br>

  <div class="btn">
      <ion-button color="success">Submit</ion-button>
  </div>

  </form>
</ion-content>
