/* Small devices such as phone */
@media (max-width: 567px) {
  .bg {
    /* The image used */
    background-image: url("/assets/icon/background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .theform {
    min-width: 80%;
    height: auto;
    background-color:#FFFFFF;
    box-shadow: 2px 2px 8px #C3C3C3;

    margin: 0 auto;
    padding: 10px 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h3{
    font-family: 'Eczar', serif;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: #001343;
  }

  ionic4-star-rating{
    display: flex;
    justify-content: center;
  }

  .btn{
    text-align: center;
  }

  ion-button{
    font-size: 15px;
  }
}
