<ion-header>
  <ion-toolbar>
    <ion-title>
      Conquer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      <ion-label position="floating">Text</ion-label>
      <ion-input type="text" [(ngModel)]="userLocation"></ion-input>
    </ion-item>
  <div class="ion-padding">
    <ion-button *ngIf="!buttonClicked" (click)="btnConquerNow()" shape="round">CONQUER NOW!</ion-button>
  </div>
<div class="ion-padding">
    <ion-button (click)="btnConquer()" shape="round">I would like to conquer</ion-button>
</div>
<div class="ion-padding">
Click button to conquer!
</div>
</ion-content>