<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "bg">
    <img src = "/assets/icon/logo.png">
    <div class = "container">
      <ion-item>
          <ion-icon name="mail"></ion-icon><ion-input type="text" placeholder="   Email" [(ngModel)] = "email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-icon name="key"></ion-icon><ion-input placeholder="   Password" type="password" [(ngModel)]= "password"></ion-input>
      </ion-item>
      <br>
      <ion-button expand="block" (click)='verifyLogin()'>Login </ion-button>
      <ion-button expand="block" color="light" (click) ='goRegister()'>Register</ion-button>
      <ion-list>
          <ion-button expand="block" fill="clear" (click)="goReset()">Forgot Password?</ion-button>
      </ion-list>
    </div>
  </div>
</ion-content>
