<ion-header>
  <ion-toolbar>
    <ion-title>Sanyin Google Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row [hidden]="debugging">
    <ion-col><b>Current Location:</b></ion-col>
    <ion-col id="currentLocation"></ion-col>
  </ion-row>

  <div [hidden]="atStation" (click)="conquer()" id="img-container">
    <ion-img src="../assets/icon/conquer.png"></ion-img>
    <p><b>Conquer</b></p>
  </div>

  <!-- debugger -->
  <ion-button class="debugging" [hidden]="debugging" color="dark" (click)="otherLocation()">Other Location</ion-button>
  <ion-button class="debugging" [hidden]="debugging" color="dark" (click)="yiochukang()">Yio Chu Kang</ion-button>
  <ion-button class="debugging" [hidden]="debugging" color="dark" (click)="angmokio()">Ang Mo Kio</ion-button>
</ion-content>
