<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="customForm">

    <h2>Safety</h2>
    <ionic4-star-rating #rating
      activeIcon = "ios-star"
      defaultIcon = "ios-star-outline"
      activeColor = "#ff0000"
      defaultColor = "#aaaaaa"
      readonly = "false"
      rating = "2"
      fontSize = "32px"
      (ratingChanged)="logRatingChange($event)">
  </ionic4-star-rating>

  <h2>Speed</h2>
  <ionic4-star-rating #rating2
      activeIcon = "ios-star"
      defaultIcon = "ios-star-outline"
      activeColor = "#d1301a"
      defaultColor = "#aaaaaa"
      readonly = "false"
      rating = "3"
      fontSize = "32px"
      (ratingChanged)="logRatingChange2($event)">
  </ionic4-star-rating>

  <h2>Enjoyment</h2>
  <ionic4-star-rating #rating2
      activeIcon = "ios-star"
      defaultIcon = "ios-star-outline"
      activeColor = "#d1301a"
      defaultColor = "#aaaaaa"
      readonly = "false"
      rating = "3"
      fontSize = "32px"
      (ratingChanged)="logRatingChange2($event)">
  </ionic4-star-rating>

  </form>
</ion-content>
