<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Map Route</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="directionForm" (ngSubmit)="generateRoutes(directionForm.value)">
        <!--<ion-item>
            <ion-label position="floating">Source</ion-label>
            <ion-input formControlName="source"></ion-input>
        </ion-item>-->
        <ion-item>
            <ion-label position="floating">Destination</ion-label>
            <ion-input formControlName="destination"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Commute Method</ion-label>
            <ion-input formControlName="travelMode" autocapitalize="characters"></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" [disabled]="directionForm.invalid">Get Direction</ion-button>
    </form>

    <ion-button full icon-left (click)="startTracking()" *ngIf="!isTracking">
        <ion-icon name="locate"></ion-icon>
        Start Tracking
    </ion-button>
    <ion-button full color="danger" icon-left (click)="stopTracking()" *ngIf="isTracking">
        <ion-icon name="hand"></ion-icon>
        Stop Tracking
    </ion-button>

    <div #mapElement class="map"></div>

    <ion-list>
        <ion-list-header>Previous Tracks</ion-list-header>
        <ion-item *ngFor="let route of previousTracks">
            {{route.finished | date}}, {{route.path.length}} Waypoints
            <button ion-button clear item-end (click)="showHistoryRoute(route.path)">View Route</button>
        </ion-item>
    </ion-list>
</ion-content>
